/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-UnifrakturCook: "UnifrakturCook", san-serif;
}
@theme {
  --font-roguelike: 'Honk', cursive;
}

html {
  scroll-behavior: smooth;
}


/* Underline animation for active link */
.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #1a1a1d; /* charcoal black */
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}


.group:hover .underline-animation::after {
  transform: scaleX(1);
}
